<%- include('partials/header'); -%>
    <h1>Home</h1>
    <p>
        <%= homeContent %>
    </p>

    <% otherContent.forEach((value, index) => { %>
        <h1> 
            <%- otherContent[index].title %>
        </h1>
        <p class="long-and-truncated">
            <%- otherContent[index].content.substring(0, 100) + '...' %>
        </p>
        <a href="/post/<%- otherContent[index].title %>"" >See More</a>
        <br>
    <% }) %>

<%- include('partials/footer'); -%>